
summary {
  cursor: pointer;
  outline: none;
}

details {
  border-radius: var(--radius);
  background: var(--lightest-gray);
  padding: var(--gap);
  border-radius: var(--radius);
  margin: var(--gap) 0;
}

summary::after {
  content: " (click to open)";
}

details[open] summary {
  margin-bottom: var(--gap-half);
  padding: 0;
}

details > * {
  font-size: 1rem;
}

details pre {
  font-size: .8rem;
}

@media (hover: none) {
  summary::after {
    content: "(tap to open)";
  }
}
