
@media print {
  :root {
    --bg: #fff;
    --fg: #000;
    --gray: #888;
    --light-gray: #dedede;
    --lighter-gray: #f5f5f5;
    --lightest-gray: #fafafa;
    --article-color: #212121;
    --gray-alpha: rgba(19, 20, 21, 0.5);
    --selection: rgba(0, 0, 0, 0.99);

    --token: #666;
    --comment: #999;
    --keyword: #000;
    --name: #333;
    --highlight: #eaeaea;
  }

  * {
    text-shadow: none !important;
  }
}

@import "./base.css";
@import "./headings.css";
@import "./details.css";
@import "./buttons.css";
@import "./table.css";
@import "./header.css";
@import "./footer.css";
@import "./aside.css";
@import "./link.css";
@import "./inputs.css";
@import "./lists.css";

hr {
  border: none;
  border-bottom: 1px solid var(--light-gray);
}

a.reset {
  outline: none;
  color: var(--fg);
  text-decoration: none;
  transition: background-color var(--transition), color var(--transition);
}
