nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    list-style: none;
    padding: 0 var(--gap-half);
}

*[data-transition] {
    transition: var(--transition);
}

nav ul li a {
    text-decoration: none;
    color: var(--gray);
    border-bottom: 1px solid var(--gray);
}

nav ul li a:hover {
    border-bottom: 1px solid var(--fg);
    color: var(--fg);
}

nav ul li:first-child {
    padding-left: 0;
}

header:has(nav) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    header:has(nav) {
        flex-direction: column;
    }

    header:has(nav) h1,
    header:has(nav) h2,
    header:has(nav) h3 {
        margin: 0;
        padding: 0;
    }
}
