style {
  /* display all so its a quine */
  display: block;
}

head > title {
  display: none;
}

style {
  white-space: pre;
  font-family: var(--font-mono);
  font-size: 0.8rem;
}

details > style {
    font-size: .7rem;
}

